---
import BaseLayout from "@lib/layouts/BaseLayout.astro";
import filterMans from "src/assets/filter/img/filter5.jpeg";
import seedPoster from "src/assets/snap-seed/img/seed6.jpeg";
import loopPoster from "src/assets/loops/posters/loop20.jpeg";
import draftPoster from "src/assets/draft/img/draft4.jpeg";
import squaresPoster from "src/assets/sharing-squares/img/even-series-1.13.jpeg";
import Card from "@lib/components/Card.astro";
import Grid from "@lib/components/Grid.astro";
import HoverHighlight from "@lib/components/HoverHighlight.astro";
---

<BaseLayout title="works">
  <Grid>
    <HoverHighlight>
      <a href="/work/loops" data-row="5" data-column="3" title="loooops">
        <Card square={true}>
          <img src={loopPoster.src} slot="picture" width={512} height={512} />
        </Card>
      </a>
      <a href="/work/filter" data-column="3" data-row="6" title="filter">
        <Card square={true}>
          <img src={filterMans.src} slot="picture" width={512} height={512} />
        </Card>
      </a>
      <a href="/work/snap-seed" title="snap seeds">
        <Card square={true}>
          <img src={seedPoster.src} slot="picture" width={512} height={512} />
        </Card>
      </a>
      <a href="/work/sharing-squares" title="sq">
        <Card square={true}>
          <img src={squaresPoster.src} slot="picture" width={512} height={512} />
        </Card>
      </a>
      <a href="/work/draft" title="picture drafts">
        <Card square={true}>
          <img src={draftPoster.src} slot="picture" width={512} height={512} />
        </Card>
      </a>
    </HoverHighlight>
  </Grid>
</BaseLayout>
